.mainContainer {
  background-color: black;
  width: 100%;
  height: 50px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.textContainer {
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.buttonContainer {
  color: white;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}

.textContainer > p {
  color: white;
  font-size: 12px;
}

.textContainer > img {
  background-color: white;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-left: 100px;
  margin-right: 5px;
}

.buttonContainer > button {
  color: white;
  height: 25px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
}

.buttonContainer > button:nth-child(1) {
  width: 10rem;
  background-color: rgba(22, 27, 26, 1);
  border: 1px solid rgba(131, 133, 132, 1);
}

.buttonContainer > button:last-child {
  width: 5rem;
  background-color: rgba(75, 95, 213, 1);
  margin-right: 100px;
}
